#Options +FollowSymLinks
RewriteEngine On 


# BEGIN COMASY
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/api/
	RewriteRule . /index.php [L]
	
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} ^/api/
	RewriteRule ^api/(.*)$ api.php/records/$1 [L,QSA]
</IfModule>
# END COMASY

